body {
  background-image: url("assets/img/fan.png");
  color: #575757;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  padding: 35px;
}

h1, h2, h3 {
  font-family: 'Bitter', serif;
  color: #d23607;
}

article {
  background-color: white;
  border: solid;
  border-radius: 25px;
  padding: 35px;
  margin: 35px
}

footer {
  width: 35%;
  min-width: 280px;
  margin: auto;
}

section.overview {
  background-color: #575757;
  color: white;
  border-radius: 25px;
  padding: 35px;
  margin: 35px;
}

a, a:link, a:focus, a:hover, a:active {
  color: #d23607;
  text-decoration: none;
}

a:visited{
  color: #975d57;
}

img#hero {
  display: block;
  margin: auto;
}

nav > ul {
  list-style-type: none;
}

nav > ul li {
  display: inline;
  padding-right: 25px;
}